.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-content {
    flex-grow: 1;
}

.product-price {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 600;
    color: black;
    text-align: left !important;
    padding: 0.4rem 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    text-align: center;
}
